/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
body {
  background: #39454b;
  font-family: 'Roboto', sans-serif;
}
#navbar {
  margin-left: 50px;
}
.navbar {
  background-color: #673AB7;
  color: #FFFFFF !important;
  padding-bottom: 0px !important;
  border: 0px solid transparent;
  margin-bottom: 0px !important;
}
.navbar-brand {
  color: #FFFFFF !important;
}
.navbar-nav .active a {
  background: #512e90 !important;
}
.navbar-nav a {
  color: #FFFFFF !important;
  background: #5c34a4;
}
#header-jumbotron {
  background-color: #6f5499;
}
#header-jumbotron h2 {
  margin-left: 40px;
  color: #fff;
  margin-top: 50px;
}
.jumbotron {
  margin-top: 50px;
  padding-top: 0px;
  height: 200px;
  vertical-align: middle;
  background: #4f6068;
  color: white;
}
.jumbotron header h2 {
  vertical-align: middle;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.jumbotron p {
  vertical-align: middle;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.box-row {
  background: #39454b;
}
.box-row-item {
  color: white;
  height: 200px;
  line-height: 20px;
  vertical-align: middle;
}
.box-row-item .middle {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: justify;
  vertical-align: middle;
}
.box-row-item-1 {
  background: transparent;
}
.box-row-item-2 {
  background: #4f6068;
}
.box-row-item-3 {
  background: #4f6068;
}
.box-row-item-4 {
  background: transparent;
}
.box-row-item p {
  color: white;
}
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1.25em;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #673AB7;
  color: white;
}
footer .container {
  display: inline-flex;
}
footer .container .menu {
  right: 0;
}
footer a {
  color: #CCCCCC;
}
footer a:hover {
  color: #EEEEEE;
}
footer .actions {
  left: 1em;
  top: 0.25em;
  height: 5em;
  line-height: 5em;
  margin: 0;
}
footer .actions li {
  display: inline;
  font-size: 1.25em;
  margin: 0;
}
footer .actions li a {
  padding: 0.5em;
}
footer .actions li a .tooltip {
  background: red;
  color: white;
}
footer .menu {
  right: 2em;
  top: 0;
  height: 5em;
  line-height: 5em;
  margin: 0;
}
footer .menu li {
  font-size: 0.9em;
}