@import "_variables.less";
@import "_material-paletee.less";


body {
	background: @dark-gray;
}
#navbar {
	margin-left: 50px;
}
.navbar {
	background-color: @base-purple;
	color:@white !important;
    padding-bottom:0px !important;
    border: 0px solid transparent;
    margin-bottom:0px !important;
    &-brand{
	    color:@white !important;
    }
    &-nav{
        .active{      
            a{          
                background:darken(@base-purple ,10%) !important;
            }
        }
        a{
	        color:@white !important;
            background:darken(@base-purple ,5%);
        }
    }
}

#header{
	&-jumbotron{
		background-color: #6f5499;
		 h2{
			margin-left: 40px;
			color: #fff;
			margin-top: 50px;
		}
	} 
}
.jumbotron{
    padding-top: 0px;
}
.box{
    &-row{
	    background: @dark-gray;
        &-item{
            color:white;
            background: red;
            height: 200px;
            &-1{
                background:orange;
            }
            &-2{
                background:yellow;
            }
        }
    }
}
