nav ul a {
  color: #585858;
}
nav .brand-logo {
  color: #585858;
}
p {
  line-height: 2rem;
}
.nav-header {
  background-color: #0D47A1;
  color: white;
}
.nav-header .brand-logo {
  color: white;
}
.txt {
  color: white;
}
.txt-primary {
  color: #0D47A1;
}
.button {
  background-color: #0D47A1;
  color: white;
}
.button-collapse {
  color: white;
}
.material-footer {
  background-color: #0D47A1;
}
.material-icons {
  color: #0D47A1;
}
.material-icons.menu {
  color: white;
}
.parallax img {
  display: block;
}
.parallax-container {
  color: rgba(255, 255, 255, 0.9);
  height: auto;
  line-height: 0;
  min-height: 380px;
}
.parallax-container .section {
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
footer.page-footer {
  margin: 0;
  background-color: #0D47A1;
}