@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <header>
            <h2>Hello.</h2>
        </header>
        <p>Welcome to <strong>Ashwin Patel's</strong> Website.</p>
    </div>
    <div class="row box-row">
        <div class="col-xs-6 box-row-item box-row-item-1"></div>
        <div class="col-xs-6 box-row-item box-row-item-2">
            <p class="middle">
                I am an Auckland born and based graduate in Information Systems. Having recently completed my Bachelor of Science at the University of Auckland, I am now interested in starting a career in Development. Gaining exposure and skills within an Information Technology role is also a goal.
            </p>
        </div>
    </div>
</div>
