@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ashwin Patel";
}

<div class="container">
    <div class="jumbotron">
        <header>
            <h2>Hello.</h2>
        </header>
        <p>Welcome to <strong>Ashwin Patel's</strong> Website.</p>
    </div>
    <div class="row box-row">
        <div class="col-xs-6 box-row-item box-row-item-1"></div>
        <div class="col-xs-6 box-row-item box-row-item-2">
            <p class="middle">
                I am an Auckland born and based graduate in Information Systems. Having recently completed my Bachelor of Science at the University of Auckland, I am now interested in starting a career in Development. Gaining exposure and skills within an Information Technology role is also a goal.
            </p>
        </div>
    </div>
    <div class="row box-row">
        <div class="col-xs-6 box-row-item box-row-item-3">
            <p class="middle">
                I have deep skills in C# and many Visual Studio based application programming.
                I also have skills in many other programming languages such as Java, C++, HTML, CSS, and many more.
                I have key skills in using Photoshop(Backgrounds on this site I created myself), Office Suite of Products, and Web Services. Please Check my <a href="doc/Ashwin_Patel_CV.pdf">CV</a> for more.
            </p>
        </div>
        <div class="col-xs-6 box-row-item box-row-item-4"></div>
    </div>
</div>
