@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ashwin Patel";
}

<div class="container">
    <div class="jumbotron">
        <header>
            <h2>Hello.</h2>
        </header>
        <p>Welcome to <strong>Ashwin Patel's</strong> Website.</p>
    </div>
    <div class="row box-row">
        <div class="col-xs-6 box-row-item box-row-item-1"></div>
        <div class="col-xs-6 box-row-item box-row-item-2">
            <p class="middle">
                I am an Auckland born and based graduate in Information Systems. Having recently completed my Bachelor of Science at the University of Auckland, I am now interested in starting a career in Development. Gaining exposure and skills within an Information Technology role is also a goal.
            </p>
        </div>
    </div>
    <div class="row box-row">
        <div class="col-xs-6 box-row-item box-row-item-3">
            <p class="middle">
                I have deep skills in C# and many Visual Studio based application programming.
                I also have skills in many other programming languages such as Java, C++, HTML, CSS, and many more.
                I have key skills in using Photoshop(Backgrounds on this site I created myself), Office Suite of Products, and Web Services. Please Check my <a href="doc/Ashwin_Patel_CV.pdf">CV</a> for more.
            </p>
        </div>
        <div class="col-xs-6 box-row-item box-row-item-4"></div>
    </div>
    <div class="row box-row">
        <div class="content container">
            <header>
                <h2>My Work</h2>
                <p>Please Feel free to contact me about any of my Projects or if you would like to help out. <a href="projects/projects.html">Detailed View</a>
                </p>
            </header>

            <!--
            Lightbox Gallery

            Powered by poptrox. Full docs here: https://github.com/n33/jquery.poptrox
            -->
            <div class="container small gallery">
                <div class="row flush images">
                    <div class="6u"><a href="../../images/fulls/04.jpg" class="image full l"><img src="../../images/thumbs/04.jpg" title="&lt;a href=&quot;projects/projects.html#ULC&quot;&gt;UoA Lab Checker&lt;/a&gt;" alt=""/></a>
                    </div>
                    <div class="6u"><a href="../../images/fulls/05.jpg" class="image full r"><img src="../../images/thumbs/05.jpg" title="&lt;a href=&quot;projects/projects.html#GYMTIME&quot;&gt;GymTime&lt;/a&gt;" alt=""/></a>
                    </div>
                </div>
                <div class="row flush images">
                    <div class="6u"><a href="../../images/fulls/03.jpg" class="image full r"><img src="../../images/thumbs/03.jpg" title="&lt;a href=&quot;projects/projects.html#CD&quot;&gt;ContactsDex&lt;/a&gt;" alt=""/></a>
                    </div>
                    <div class="6u"><a href="../../images/thumbs/06.jpg" class="image full l"><img src="../../images/thumbs/06.jpg" title="Coming Soon" alt=""/></a>
                    </div>
                </div>
                <div class="row flush images">
                    <div class="6u"><a href="../../images/fulls/01.jpg" class="image full l"><img src="../../images/thumbs/01.jpg" title="&lt;a href=&quot;projects/projects.html#KHP&quot;&gt;Kamikaze Heli-Pilot&lt;/a&gt;" alt=""/></a>
                    </div>
                    <div class="6u"><a href="../../images/fulls/02.jpg" class="image full r"><img src="../../images/thumbs/02.jpg" title="&lt;a href=&quot;projects/projects.html#RP&quot;&gt;Rainbow Pulse&lt;/a&gt;" alt=""/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row box-row">
        <div class="content container">
            <header>
                <h2>Say Hello.</h2>
                <p>Feel free to contact me through here or any other medium</p>
            </header>
            <div class="box container small">
                <form method="POST" action="mail.php">
                    <div class="row half">
                        <div class="6u"><input type="text" name="name" placeholder="Name" /></div>
                        <div class="6u"><input type="text" name="email" placeholder="Email" /></div>
                    </div>
                    <div class="row half">
                        <div class="12u"><textarea name="sendmessage" placeholder="Message" rows="6"></textarea></div>
                    </div>
                    <div class="row">
                        <div class="12u">
                            <ul class="actions">
                                <li><input type="submit" class="button" value="Send Message" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
