@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row box-row">
    <div class="col-xs-12 col-md-8 box-row-item-1">.col-xs-12 .col-md-8</div>
    <div class="col-xs-6 col-md-4 box-row-item-2">.col-xs-6 .col-md-4</div>
</div>